
body{
    background: lightblue;
    padding: 20px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: large;
}

header{
    border-style: solid;
    border-color:black;
    background: cadetblue;
}

.footer{
 position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    background-color:cadetblue;
    text-align: center;
}
a{
    text-decoration: none;
}
a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:black;
    font-weight: bold;
}
